{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "env": {
    "commonjs": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "expect": true
  },
  "extends": ["digitalbazaar"]
}
